---
- name: Configuration Globale
  hosts: all
  become: yes
  vars:
    zabbix_server_ip: "{{ groups['monitoring'][0] }}"

  roles:
    - common
    - zabbix-agent
      
- name: Installation du Serveur de Monitoring
  hosts: monitoring
  become: yes
  roles:
    - zabbix-server