---
- name: Téléchargement du repo Zabbix
  get_url:
    url: "https://repo.zabbix.com/zabbix/6.0/debian/pool/main/z/zabbix-release/zabbix-release_6.0-5+debian12_all.deb"
    dest: "/tmp/zabbix-release.deb"

- name: Installation du repo Zabbix
  apt:
    deb: "/tmp/zabbix-release.deb"

- name: Installation de l'Agent Zabbix
  apt:
    name: zabbix-agent
    state: present
    update_cache: yes

- name: Configuration de l'IP du Serveur Zabbix
  lineinfile:
    path: /etc/zabbix/zabbix_agentd.conf
    regexp: '^Server='
    line: "Server={{ zabbix_server_ip }}"
  notify: Restart Zabbix Agent

- name: Configuration du Hostname de l'agent
  lineinfile:
    path: /etc/zabbix/zabbix_agentd.conf
    regexp: '^Hostname='
    line: "Hostname={{ inventory_hostname }}"
  notify: Restart Zabbix Agent
